.table-item {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.table-item-actions {
    display: flex;
    justify-content: flex-end;
}

.worker-table-item-actions button {
    margin-right:  10px;
}